<label class="upload-pic">
  <div class="plus"></div>
  <input type="file" accept="image/jpg, image/jpeg, image/png" (change)="fileread($event)" multiple="multiple" />
  <div class="word">点击添加图片</div>
  <div class="word">支持JPG/PNG格式</div>
</label>

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let item of list; let i=index" class="upload" cdkDrag>
    <div class="cover" [class.no-cover]="item.imgswitch">上传中</div>
    <div class="finish" [class.open]="item.imgswitch">上传完成</div>
    <div class="else" [class.open]="item.imgswitch" (click)="delete(i)">
    </div>
    <img class="preview-img" [src]="item.url" />
  </div>
</div>
